/* ======== Features Section ======== */
.hero-section{
    height: 100vh;
}

.features-section {
    background-color: rgba(255, 140, 66, 0.1);
    padding: 120px 0;
}

.features-section .section-title {
    margin-bottom: 60px;
}

.feature-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
}

.feature-item .feature-number {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #ff6f00;
}

.feature-item p {
    font-size: 16px;
    line-height: 1.6;
}

.feature-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.feature-image img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
